<a asp-action="Index" asp-controller="Home" class="flex gap-2 items-center mb-6">
    <i class="fas fa-image text-2xl dark:text-blue-600"></i>
    <span class="text-2xl font-semibold underline  dark:text-white dark:decoration-blue-600">TEMPLATE</span>
</a>