<nav class="px-2 sm:px-4 py-2.5 fixed w-full top-0">
    <div class="container flex flex-wrap justify-between items-center">
        <a href="/" class="flex gap-2">
            <i class="fas fa-user-cog text-2xl dark:text-blue-600"></i>
            <span class="text-xl font-semibold underline  dark:text-gray-300 dark:decoration-blue-600">User Management</span>
        </a>
        <button type="button" class="text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Login
            <i class="fas fa-arrow-right-to-bracket"></i>
        </button>
    </div>
</nav>

