@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="mt-10 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <a asp-action="Index" asp-controller="Home" class="flex gap-2 items-center mb-6">
            <i class="fas fa-user-cog text-2xl dark:text-blue-600"></i>
            <span class="text-2xl font-semibold underline  dark:text-white dark:decoration-blue-600">User Management</span>
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form asp-action="Register" method="post" class="space-y-4 md:space-y-6">
                    <div>
                        <label asp-for="Email" class="block mb-2 text-sm font-medium dark:text-white"></label>
                        <input asp-for="Email" class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label asp-for="Password" class="block mb-2 text-sm font-medium dark:text-white"></label>
                        <input asp-for="Password" placeholder="••••••••" class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium dark:text-white"></label>
                        <input asp-for="ConfirmPassword" placeholder="••••••••" class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input asp-for="TermsAndConditions" class="w-4 h-4 border rounded focus:ring-3 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required="">
                        </div>
                        <div class="ml-3 text-sm">
                            <label asp-for="TermsAndConditions" class="font-light dark:text-gray-300">I accept the <a class="font-medium hover:underline dark:text-blue-500" href="#">Terms and Conditions</a></label>
                        </div>
                    </div>
                    <button type="submit" class="w-full focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create an account</button>
                    <p class="text-sm font-light dark:text-gray-400">
                        Already have an account? <a asp-action="Login" class="font-medium hover:underline dark:text-blue-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>