@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="mt-10 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <partial name="/Views/Shared/_HeadingTitle.cshtml" />
        <div class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                @RenderBody()
            </div>
        </div>
    </div>
</section>