@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AccountLayout";
}

<h2 class="mb-1 text-xl font-bold leading-tight tracking-tight md:text-2xl dark:text-white">
    Change Password
</h2>
<form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" asp-action="ResetPassword" method="post">
    <div>
        <label for="email" class="block mb-2 text-sm font-medium dark:text-white">Your email</label>
        <input type="email" name="email" id="email" class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@address.com" required="">
    </div>
    <button type="submit" class="w-full focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset passwod</button>
</form>